@import "vars";

/**
	-----------------------------------------------------------------
	Preloader
	-----------------------------------------------------------------
**/

.preloader {
	position: fixed;
	opacity: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $bg-color;
	z-index: 9999;
	transition: 0.2s;
	svg {
		position: absolute;
		top: 0;
		left: calc(50% - 75px);
		width: 150px;
		margin: auto;
		height: 100%;
		transition: 0.5s;
		path {
			fill: #196244;
			transition: 0.5s;
			animation: fillChange 1s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
		}
	}
	&.done {
		height: 0;
		transition: 0.5s;
	}
}

@keyframes fillChange {
	0% {
		fill: $white;
	}
	50% {
		fill: $primary-color;
	}
	100% {
		fill: $white;
	}
}
