node_modules
.idea
*.log
*.sql
npm-debug.log*
*.DS_Store
.AppleDouble
.LSOverride
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/cache
/wp-content/ai1wm-backups
/wp-content/updraft
/wp-content/wp-rocket-config
/wp-content/upgrade
/wp-content/uploads
/wp-content/uploads-webpc
/wp-content/smush-webp
/wp-content/w3tc-config
/wp-content/debug.log
/wp-content/index.php
/wp-content/themes/twentytwenty
/wp-content/themes/twentytwentyone
/wp-content/themes/twentytwentytwo
/wp-content/plugins/hello.php
/wp-content/plugins/akismet
/readme.html
/license.txt
win_install.sh
win_install_demo_data.sh
mac_install.sh
mac_install_demo_data.sh