.page-template-archive-project {
	.hero {
		position: relative;
		color: $white;
		padding: 150px 0 50px;
		margin-top: -100px;
		overflow: hidden;
		background: linear-gradient(315deg, $primary-color 3%, $accent-color 40%, #27a06e 98%);
		animation: gradient 15s ease infinite;
		background-size: 400% 400%;
		background-attachment: fixed;
		&-title {
			h1 {
				font-size: 42px;
				line-height: 42px;
				text-transform: uppercase;
				letter-spacing: 0.2px;
			}
			h4 {
				font-size: 24px;
				line-height: 24px;
				font-weight: 300;
				opacity: 0.7;
			}
		}
		&-wave {
			background: rgb(255 255 255 / 50%);
			border-radius: 0 0 1000% 1000%;
			position: absolute;
			width: 200%;
			height: 12em;
			animation: wave 18s linear reverse infinite;
			transform: translate3d(0, 0, 0);
			opacity: 0.8;
			top: -5.5em;
			left: 0;
			z-index: 0;
			&:nth-child(2) {
				top: -6.5em;
				animation: wave 28s linear reverse infinite;
				opacity: 0.8;
			}
			&:nth-child(3) {
				top: -7.5em;
				animation: wave 21s -1s linear reverse infinite;
				opacity: 0.9;
			}
		}
		&-tech-stack {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			@include media-breakpoint-up(md) {
				justify-content: flex-end;
			}
			svg {
				width: 30px;
				height: auto;
				margin-top: 10px;
				margin-bottom: 10px;
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}
				&:not(.html5) {
					path {
						fill: $white;
					}
				}
				&.html5 {
					path {
						&:nth-child(1) {
							fill: #ebebeb;
						}
						&:nth-child(2) {
							fill: $white;
						}
						&:nth-child(3),
						&:nth-child(4) {
							fill: $accent-color;
						}
					}
				}
			}
		}
	}
	#sub-nav {
		.row {
			justify-content: center;
			a {
				background-color: $color-4;
				padding: 10px 15px;
				display: inline-flex;
				color: $color-1;
				margin-right: 15px;
				&.current {
					color: $color-4;
					background-color: $color-1;
				}
			}
		}
	}
	#content-blocks {
		.portfolio-block {
			display: flex;
			flex-wrap: wrap;
			.item {
				background-size: cover;
				background-position-x: center;
				background-position-y: top;
				position: relative;
				overflow: hidden;
				padding: 0;
				height: 100%;
				> * {
					margin: 0;
				}
				transition: all 0.7s ease-in-out;
				&:hover {
					.content {
						opacity: 1;
						transition: all 0.7s ease-in-out;
						.title {
							height: 30%;
							@include media-breakpoint-up(xxl) {
								h4 {
									font-size: 50px;
									line-height: 100%;
								}
							}
						}
						.description {
							height: 70%;
						}
						@include media-breakpoint-up(xxl) {
							.title {
								height: 50%;
							}
							.description {
								height: 50%;
							}
						}
						.title {
							background-color: $overlay;
							transition: all 0.7s ease-in-out;
							h4 {
								transition: all 0.7s ease-in-out;
								opacity: 1;
							}
						}
					}
					.corner {
						transition: all 0.7s ease-in-out;
						opacity: 1;
					}
				}
				.content {
					position: absolute;
					top: 0;
					width: 100%;
					height: 100%;
					color: #fff;
					opacity: 0;
					transition: all 0.7s ease-in-out;
					.title {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 100%;
						transition: all 0.7s ease-in-out;
						margin: 0;
						padding: 20px 35px;
						text-align: center;
						width: 100%;
						h4 {
							opacity: 0;
							font-weight: 700;
							color: $white;
							transition: all 0.7s ease-in-out;
							margin: 0;
						}
					}
					.description {
						display: flex;
						flex-direction: column;
						padding: 20px;
						background-color: $dark;
						transition: all 0.7s ease-in-out;
						height: 0;
						margin: 0;
						opacity: 0.95;
						h5 {
							color: $white;
						}
						p {
							flex: 1 0 auto;
							font-size: 16px;
							line-height: 120%;
							color: $color-4;
							font-weight: 200;
						}
						.tech-stack {
							display: flex;
							flex: 0 0 auto;
							svg {
								width: 40px;
								height: auto;
								margin-right: 15px;
								&.php,
								&.wordpress,
								&.restapi {
									path {
										fill: $white;
									}
								}

								&.wordpress {
									order: 1;
								}
								&.react {
									order: 2;
								}
								&.html5 {
									order: 3;
								}
								&.css3 {
									order: 4;
								}
								&.js {
									order: 5;
								}
								&.php {
									order: 6;
								}
								&.scss {
									order: 7;
								}
								&.gulp {
									order: 8;
								}
								&.twig {
									order: 9;
								}
								&.restapi {
									width: 80px;
									order: 10;
								}
								&.bootstrap {
									order: 11;
								}
							}
						}
					}
				}
			}

			.corner {
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				border-top: 100px solid $primary-color;
				border-right: 100px solid transparent;
				transition: all 0.7s ease-in-out;
				&.right-top-corner {
					left: auto;
					right: -15px;
					transform: rotate(90deg);
					svg {
						position: absolute;
						transform: rotate(-90deg);
						left: 10px;
						width: 30px;
						bottom: 45px;
						height: auto;
						circle,
						line {
							stroke: $white;
						}
						path {
							fill: $white;
						}
					}
				}

				&.right-top-corner,
				&.left-bottom-corner {
					&:hover {
						border-top: 100px solid $dark;
					}
				}
			}
		}
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

@keyframes wave {
	2% {
		transform: translateX(1);
	}
	25% {
		transform: translateX(-25%);
	}
	50% {
		transform: translateX(-50%);
	}
	75% {
		transform: translateX(-25%);
	}
	100% {
		transform: translateX(1);
	}
}
