// Jockey one
@font-face {
	font-family: "Jockey one";
	src: url("../fonts/jockey-one.woff2") format("woff2"), url("../fonts/jockey-one.woff") format("woff");
	font-style: normal;
}

// Kanit
@font-face {
	font-family: "Kanit";
	src: url("../fonts/Kanit-ExtraLight.woff2") format("woff2"), url("../fonts/Kanit-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Kanit";
	src: url("../fonts/Kanit-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Kanit-ExtraLightLight.woff") format("woff");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "Kanit";
	src: url("../fonts/Kanit-Light.woff2") format("woff2"), url("../fonts/Kanit-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Kanit";
	src: url("../fonts/Kanit-LightItalic.woff2") format("woff2"), url("../fonts/Kanit-LightLight.woff") format("woff");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Kanit";
	src: url("../fonts/Kanit-Regular.woff2") format("woff2"), url("../fonts/Kanit-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Kanit";
	src: url("../fonts/Kanit-RegularItalic.woff2") format("woff2"), url("../fonts/Kanit-RegularLight.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Kanit";
	src: url("../fonts/Kanit-Medium.woff2") format("woff2"), url("../fonts/Kanit-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Kanit";
	src: url("../fonts/Kanit-MediumItalic.woff2") format("woff2"), url("../fonts/Kanit-MediumLight.woff") format("woff");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Kanit";
	src: url("../fonts/Kanit-SemiBold.woff2") format("woff2"), url("../fonts/Kanit-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Kanit";
	src: url("../fonts/Kanit-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Kanit-SemiBoldLight.woff") format("woff");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Kanit";
	src: url("../fonts/Kanit-ExtraBold.woff2") format("woff2"), url("../fonts/Kanit-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Kanit";
	src: url("../fonts/Kanit-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Kanit-ExtraBoldLight.woff") format("woff");
	font-weight: 800;
	font-style: italic;
}
