#footer {
	padding: 60px 15px;
	background-color: #2e2e2e !important;
	color: #778389;
	position: relative;
	flex: 0 0 auto;
	.row {
		justify-content: center;
		text-align: center;
	}
	.quote {
		font-family: "Montserrat";
		font-size: 34px;
		line-height: 110%;
		font-style: italic;
		text-align: center;

		color: #e5e2de;
		margin-bottom: 40px;
	}
	.social-links {
		margin-bottom: 20px;
		a {
			& + a {
				margin-left: 25px;
			}
			&:hover {
				svg {
					path {
						fill: $white;
					}
				}
			}
		}
	}
}
